.personaje-cerebro-container {
  position: absolute;
  left: 47%;
  bottom: 42%;    
  transform: translateX(-50%);
}

.difficulty-selection-container {
  display: flex;
  flex-direction: column;
  /* Si, a mi tambien me duele ver esos margin, pero la imagen no es simetrica y el center lo deja desplazado */
  margin-left: 33vh;
  margin-top: 10vh;
}

.difficulty-title {
  font-family: 'FugazOne', sans-serif;
  font-size: 90px;
  font-weight: 200;
  color: #ffffff;
  letter-spacing: 0.4rem;
  filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.468));
  text-shadow: 0 0 3 px rgba(255, 255, 255, 0.468);
}

.selection-buttom {
 width: 6.5em;
 height: 2.3em;
 margin: 0.5em;
 background: black;
 color: white;
 border: none;
 border-radius: 0.625em;
 font-size: 20px;
 font-weight: bold;
 cursor: pointer;
 position: relative;
 z-index: 1;
 overflow: hidden;
}

.selection-buttom:hover {
 color: black;
}

.selection-buttom:after {
 content: "";
 background: white;
 position: absolute;
 z-index: -1;
 left: -20%;
 right: -20%;
 top: 0;
 bottom: 0;
 transform: skewX(-45deg) scale(0, 1);
 transition: all 0.5s;
}

.selection-buttom:hover:after {
 transform: skewX(-45deg) scale(1, 1);
 -webkit-transition: all 0.5s;
 transition: all 0.5s;
}

.selection-buttom-selected {
 background: #a60e0e;
}

.selection-buttom-selected:after {
 content: "";
 background: #a60e0e;
 position: absolute;
 z-index: -1;
 left: -20%;
 right: -20%;
 top: 0;
 bottom: 0;
 transform: skewX(-45deg) scale(0, 1);
 transition: all 0.5s;
}

.send-button {
  opacity: 0.5;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  transition: all 0.3s ease-in-out 0s;
  background: linear-gradient(30deg, rgb(186, 165, 143) 20%, rgb(187, 110, 96) 80%);
  box-shadow: rgba(193, 244, 246, 0.698) 0px 0px 0px 0px;
  border: 0;
}

.send-button-enabled {
    opacity: 1;
    cursor: pointer;
    animation: 1.2s cubic-bezier(0.8, 0, 0, 1) 0s infinite normal none running pulse;
    background: linear-gradient(30deg, rgb(255, 130, 0) 20%, rgb(255, 38, 0) 80%);
}

.send-button-enabled:is(:hover, :focus) {
  transform: scale(1.2);
}

@keyframes pulse {
  100% {
    box-shadow: 0 0 0 45px rgba(193,244,246,0);
  }
}

.send-button-container {
  display: flex;
  justify-content: end;
  margin-right: 12vh;
  margin-top: 8vh;
  align-items: center;
  height: 100%;
}
  
  
  