.question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

.question-title {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.question-option {
    font-size: 20px;
    color: white;
}

.option-buttom {
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    background-color: #e3e3e3;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 15px;
}

.question-options-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    width: 100%;
    max-width: 800px;
}

.success-color {
    background-color: #06f416;
    color: white;
}

.fail-color {
    background-color: #a60e0e;
    color: white;
}

.restart-button {
    font-size: 17px;
    padding: 1em 2.7em;
    font-weight: 500;
    background: #1f2937;
    color: white;
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 0.6em;
    cursor: pointer;
  }
  
  .gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 0.6em;
    margin-top: -0.25em;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.3)
    );
  }
  
  .label {
    position: relative;
    top: -1px;
  }
  
  .transition {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 500ms;
    background-color: rgba(241, 15, 15, 0.6);
    border-radius: 9999px;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .restart-button:hover .transition {
    width: 14em;
    height: 14em;
  }
  
  .restart-button:active {
    transform: scale(0.97);
  }
  