
.title-svg {
  position: absolute;
  left: 47%;
  bottom: 70%;
  transform: translateX(-50%);
  width: 800px;
  height: 200px;
}

.title {
  font-family: 'FugazOne', sans-serif;
  font-size: 90px;
  font-weight: 700;
  fill: #a6a10e;
  letter-spacing: 0.4rem;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
}

.personaje-container {
  position: absolute;
  left: 35%;
  bottom: 56%;    
  transform: translateX(-50%);
}

.start-button {
    padding: 17px 40px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(255, 56, 86);
    letter-spacing: 1.5px;
    font-size: 47px;
    transition: all 0.3s ease;
    box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}
  
.start-button:hover {
  box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
}
  
.start-button:active {
  background-color: rgb(255, 56, 86);
  box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
  transform: translateY(5px);
  transition: 200ms;
}

.start-button-container {
  position: absolute;
  left: 46%;
  bottom: 48%;
  transform: translateX(-50%);
}