.container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;

  background: #121212;
  background: linear-gradient(
    135deg,
    #121212 25%,
    #1a1a1a 25%,
    #1a1a1a 50%,
    #121212 50%,
    #121212 75%,
    #1a1a1a 75%,
    #1a1a1a
  );
  background-size: 40px 40px;

  animation: move 4s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 40px;
  }
}

.inicio-page {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-scenario {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 70vw;
  height: 100vh;
  object-fit: cover;
  object-position: top;
  z-index: 1;
}

.content {
  width: 70vw;
  height: 100vh;
  z-index: 2;
  border: 1px solid red;
}
